header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99999;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }
  @media (max-width: 990px) {
    header {
      background: #203260; } }

.fixed-header {
  background: #203260; }

.header-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 40px; }
  @media (max-width: 990px) {
    .header-container {
      padding: 15px 20px; } }
  @media (max-width: 576px) {
    .header-container {
      padding: 15px 20px; } }
  @media (max-width: 990px) {
    .header-container nav {
      display: none;
      position: absolute;
      left: 0;
      right: 0;
      top: 78px;
      width: 100vw;
      padding: 20px 0;
      background: #1a284d; } }
  .header-container nav ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (max-width: 990px) {
      .header-container nav ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
            -ms-flex-align: start;
                align-items: flex-start; } }
    .header-container nav ul a {
      color: #fff;
      padding: 10px 15px;
      margin: 0 10px;
      opacity: .8;
      font: 700 .95rem 'Roboto', sans-serif;
      text-transform: capitalize;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s;
      border: .5px solid transparent;
      border-radius: 2px; }
      @media (max-width: 990px) {
        .header-container nav ul a {
          font-size: 1rem;
          opacity: 1;
          padding: 0;
          margin: 15px 20px;
          display: block; } }
      .header-container nav ul a:hover {
        opacity: 1;
        border: .5px solid #fff; }

.call-menu {
  display: none;
  height: 30px;
  cursor: pointer; }
  @media (max-width: 990px) {
    .call-menu {
      display: block; } }

.main-slider {
  margin-bottom: -30px; }
  .main-slider .slide {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; }
  .main-slider .slick-slide {
    height: 800px; }
    @media (max-width: 990px) {
      .main-slider .slick-slide {
        height: 500px; } }
  .main-slider .slick-dots {
    bottom: 40px;
    position: absolute; }
  .main-slider .slick-dots li button:before {
    color: #fff;
    font-size: 3rem;
    opacity: .3; }
  .main-slider .slick-dots li.slick-active button:before {
    color: #fff;
    opacity: 1; }

.main-slider-box {
  max-width: 1280px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%; }
  @media (max-width: 990px) {
    .main-slider-box {
      margin-top: 30px; } }
  .main-slider-box .slider-title {
    font: 500 5rem 'Muli', sans-serif;
    margin-bottom: 20px;
    color: #fff; }
    @media (max-width: 990px) {
      .main-slider-box .slider-title {
        font-size: 3rem; } }
    @media (max-width: 768px) {
      .main-slider-box .slider-title {
        font-size: 2rem; } }
  .main-slider-box .slider-text {
    color: #fff;
    opacity: .6;
    padding-left: 10px; }
    .main-slider-box .slider-text::before {
      content: '-';
      position: relative;
      left: -5px; }

.center {
  text-align: center; }

.slider-text-simple {
  color: #fff;
  font: 500 1.2rem 'Muli', sans-serif; }

.lead .container {
  padding: 90px 0; }
  @media (max-width: 990px) {
    .lead .container {
      padding: 50px 0; } }

.lead-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px; }
  @media (max-width: 990px) {
    .lead-container {
      grid-template-columns: 1fr; } }

@media (max-width: 990px) {
  .lead-box {
    max-width: 400px; } }

.lead-box img {
  height: 45px;
  margin-bottom: 20px; }

.lead-box .lead-title {
  font: 500 1.25rem 'Muli', sans-serif;
  margin-bottom: 20px; }
  @media (max-width: 990px) {
    .lead-box .lead-title {
      font-size: 1.2rem; } }

.lead-box .lead-text {
  font: 300 1.1rem/23px 'Muli', sans-serif;
  opacity: .6; }
  @media (max-width: 990px) {
    .lead-box .lead-text {
      font-size: 1rem; } }

.power {
  position: relative; }

.power-img {
  background: url(../img/power/power-bg.png) no-repeat center center;
  height: 600px;
  background-size: cover; }
  @media (max-width: 990px) {
    .power-img {
      height: 300px; } }

.power-info {
  background: #fafafa;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 100px; }
  @media (max-width: 1100px) {
    .power-info {
      padding: 30px; } }
  @media (max-width: 990px) {
    .power-info {
      padding: 40px 20px; } }
  .power-info .power-title {
    font: 300 2rem/48px 'Muli', sans-serif;
    margin-bottom: 35px; }
    @media (max-width: 990px) {
      .power-info .power-title {
        font-size: 1.5rem;
        line-height: 30px;
        margin-bottom: 20px; } }
  .power-info .power-text {
    font: 300 1.125rem 'Muli', sans-serif;
    margin-bottom: 35px;
    opacity: .8; }
  .power-info .power-user-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .power-info .power-user-box img {
      border-radius: 50%;
      margin-right: 20px; }
    .power-info .power-user-box .power-user-info {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
    .power-info .power-user-box .user-name {
      opacity: .9;
      font: 500 1.1rem 'Muli', sans-serif;
      margin-bottom: 5px; }
    .power-info .power-user-box .user-prof {
      opacity: .7;
      font: 500 .95rem 'Muli', sans-serif; }

.power-container {
  display: grid;
  grid-template-columns: 1fr 1fr; }
  @media (max-width: 990px) {
    .power-container {
      grid-template-columns: 1fr; } }

.video-rewiev {
  background: #203260; }

.video-rewiev-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 25px;
  padding: 90px 0; }
  @media (max-width: 990px) {
    .video-rewiev-container {
      grid-template-columns: 1fr;
      grid-gap: 30px;
      padding: 50px 0; } }
  .video-rewiev-container .video-box-img {
    cursor: pointer; }
    .video-rewiev-container .video-box-img img {
      max-width: 100%;
      height: auto; }
  .video-rewiev-container .video-box-text {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .video-rewiev-container .video-title {
    font: 300 2rem/48px 'Muli', sans-serif;
    margin-bottom: 20px;
    color: #fff; }
    @media (max-width: 990px) {
      .video-rewiev-container .video-title {
        font-size: 1.5rem;
        line-height: 30px;
        margin-bottom: 20px; } }
  .video-rewiev-container .video-text {
    font: 300 1.1rem 'Muli', sans-serif;
    margin-bottom: 50px;
    opacity: .7;
    color: #fff; }
    @media (max-width: 990px) {
      .video-rewiev-container .video-text {
        margin-bottom: 10px; } }

.welcome .container {
  padding: 90px 0 50px 0; }
  @media (max-width: 768px) {
    .welcome .container {
      padding: 50px 0 40px 0; } }

.welcome .slick-dots {
  bottom: -20px; }
  @media (max-width: 990px) {
    .welcome .slick-dots {
      bottom: -35px; } }

.welcome .slick-dots li button:before {
  color: #000;
  font-size: 2rem;
  opacity: .3; }

.welcome .slick-dots li.slick-active button:before {
  color: #000;
  opacity: 1; }

.welcome-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .welcome-box img {
    height: 180px;
    width: 320px; }
    @media (max-width: 990px) {
      .welcome-box img {
        width: 100%;
        height: 200px;
        -o-object-fit: cover;
           object-fit: cover; } }

.weclome-box-inf {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  background: #fff;
  position: relative;
  top: -40px;
  right: -40px;
  width: 65%; }
  @media (max-width: 576px) {
    .weclome-box-inf {
      top: 0;
      left: 0;
      width: 100%; } }
  .weclome-box-inf .weclome-title {
    font: 500 1rem 'Muli', sans-serif;
    opacity: .8;
    margin-bottom: 10px; }
  .weclome-box-inf .weclome-date {
    font: 500 .9rem 'Muli', sans-serif;
    opacity: .8; }

.partner {
  background: #203260; }
  .partner .title-xl {
    color: #fff; }
  .partner .text-simple {
    color: #fff;
    opacity: .8; }

.partner-container {
  padding: 60px 0; }
  @media (max-width: 990px) {
    .partner-container {
      padding: 30px 0; } }

.part-desk {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .part-desk a {
    margin: 0 10px;
    opacity: .8;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s; }
    .part-desk a:hover {
      opacity: 1;
      -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
              transform: scale(1.1); }
  @media (max-width: 576px) {
    .part-desk {
      display: none; } }

.part-mob {
  display: none; }
  @media (max-width: 576px) {
    .part-mob {
      display: block; } }
  .part-mob a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .part-mob .slick-dots {
    bottom: -40px; }
  .part-mob .slick-dots li button:before {
    color: #fff;
    font-size: 2rem;
    opacity: .6; }
  .part-mob .slick-dots li.slick-active button:before {
    color: #fff;
    opacity: 1; }

.about-main {
  background: url(../img/about/about-bg.png) no-repeat center center;
  background-size: cover;
  height: 600px;
  margin-top: 79px; }
  @media (max-width: 990px) {
    .about-main {
      background: transparent;
      height: 500px; } }
  .about-main .container {
    height: 100%; }

.about-main-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%; }
  @media (max-width: 990px) {
    .about-main-container {
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; } }
  .about-main-container .about-title {
    font-weight: 300;
    margin-bottom: 40px; }
    @media (max-width: 990px) {
      .about-main-container .about-title {
        margin-bottom: 25px; } }
  .about-main-container .about-text {
    font-weight: 300;
    margin-bottom: 60px; }
    @media (max-width: 990px) {
      .about-main-container .about-text {
        margin-bottom: 40px; } }
  .about-main-container .about-main-box {
    max-width: 500px; }

.adv {
  background: #203260; }
  .adv .title-xl {
    color: #fff;
    text-align: center;
    margin-bottom: 60px; }
    @media (max-width: 990px) {
      .adv .title-xl {
        margin-bottom: 45px; } }
  .adv .text-simple {
    opacity: .7;
    color: #fff; }
  .adv .container {
    padding: 90px 0; }
    @media (max-width: 768px) {
      .adv .container {
        padding: 50px 0; } }

.adv-container {
  max-width: 990px;
  margin: 0 auto;
  position: relative; }
  .adv-container::before {
    content: '';
    height: 100%;
    width: 2px;
    display: block;
    position: absolute;
    left: -46.5px;
    background: #fff; }
    @media (max-width: 990px) {
      .adv-container::before {
        display: none; } }

.adv-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px; }
  @media (max-width: 768px) {
    .adv-box {
      margin-bottom: 20px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
          -ms-flex-align: start;
              align-items: flex-start; } }

.adv-box:last-child {
  margin: 0; }

.adv-date {
  font: normal 2.5rem 'Muli', sans-serif;
  color: #fff;
  margin-right: 50px;
  position: relative; }
  @media (max-width: 990px) {
    .adv-date {
      margin-right: 20px;
      font-size: 2.2rem; } }
  @media (max-width: 768px) {
    .adv-date {
      margin: 0;
      margin-bottom: 15px; } }
  .adv-date::before {
    content: '';
    position: absolute;
    height: 10px;
    width: 10px;
    background: #fff;
    border-radius: 50%;
    left: -50px;
    top: 40%; }
    @media (max-width: 990px) {
      .adv-date::before {
        display: none; } }

.adv-text {
  font: normal 1.1rem 'Muli', sans-serif;
  color: #fff;
  margin-bottom: 0; }
  @media (max-width: 576px) {
    .adv-text {
      font-size: 1rem; } }

.about-info {
  background: url(../img/about/about-bg-2.png) no-repeat center center;
  background-size: cover; }
  .about-info .container {
    padding: 120px 0; }
    @media (max-width: 990px) {
      .about-info .container {
        padding: 50px 0; } }

.about-info-container {
  max-width: 600px; }
  .about-info-container .about-info-title {
    margin-bottom: 35px;
    font: normal 2rem 'Muli', sans-serif; }
    @media (max-width: 990px) {
      .about-info-container .about-info-title {
        font-size: 1.5rem;
        margin-bottom: 20px; } }
  .about-info-container .about-info-text {
    font-weight: 500;
    line-height: 27px;
    margin-bottom: 0; }

.offer {
  background: #fafafa; }
  .offer .container {
    padding: 90px 0; }
    @media (max-width: 990px) {
      .offer .container {
        padding: 40px 0; } }
  .offer .title-xl {
    text-align: center;
    margin-bottom: 70px; }
    @media (max-width: 990px) {
      .offer .title-xl {
        margin-bottom: 50px; } }

.offer-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px; }
  @media (max-width: 990px) {
    .offer-container {
      grid-gap: 40px;
      grid-template-columns: 1fr; } }
  .offer-container .offer-box-img {
    border-radius: 50px;
    padding: 10px;
    height: 50px;
    width: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: 1px solid #3293f5;
    margin-right: 30px; }
    @media (max-width: 576px) {
      .offer-container .offer-box-img {
        margin: 0 0 25px 0; } }
    .offer-container .offer-box-img img {
      height: 45px; }
  .offer-container .offer-title {
    font: normal 1.2rem 'Muli', sans-serif;
    margin-bottom: 10px; }
  .offer-container .offer-text {
    font-weight: 300;
    margin: 0; }
  .offer-container .offer-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
    @media (max-width: 576px) {
      .offer-container .offer-box {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        text-align: center; } }

.activiti {
  max-width: 1024px;
  margin: 0 auto; }

.activiti-block {
  padding: 50px 30px; }
  @media (max-width: 990px) {
    .activiti-block {
      padding: 20px; } }

.activiti-block-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  .activiti-block-info .activiti-title {
    margin: 25px 0 15px 0;
    font: 500 1.5rem 'Muli', sans-serif;
    position: relative; }
    .activiti-block-info .activiti-title::before {
      content: '';
      display: block;
      height: 1.5px;
      width: 40px;
      position: relative;
      top: -15px;
      background: #3399ff; }
    @media (max-width: 990px) {
      .activiti-block-info .activiti-title {
        font-size: 1.75rem; } }
    @media (max-width: 576px) {
      .activiti-block-info .activiti-title {
        font-size: 1.5rem; } }
  .activiti-block-info .activivit-text {
    color: #000;
    font-weight: 300;
    font-size: 1rem;
    margin: 0;
    margin-bottom: 30px; }
    @media (max-width: 990px) {
      .activiti-block-info .activivit-text {
        margin-bottom: 10px; } }
  .activiti-block-info .btn-blue {
    width: 150px;
    padding: 10px 15px;
    text-align: center; }
    @media (max-width: 576px) {
      .activiti-block-info .btn-blue {
        width: 100%;
        padding: 12px; } }

.activiti-block-img {
  width: 900px;
  height: 100%; }
  @media (max-width: 990px) {
    .activiti-block-img {
      width: 100%; } }
  .activiti-block-img img {
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    height: 100%; }

.activiti-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row; }
  @media (max-width: 990px) {
    .activiti-block {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; } }
  .activiti-block .activiti-block-img {
    margin-right: 35px; }
    @media (max-width: 990px) {
      .activiti-block .activiti-block-img {
        margin: 0 0 20px 0; } }

.activiti-block:nth-child(2n) {
  background: #f6f6f6;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; }
  @media (max-width: 990px) {
    .activiti-block:nth-child(2n) {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; } }
  .activiti-block:nth-child(2n) .activiti-block-img {
    margin-left: 35px; }
    @media (max-width: 990px) {
      .activiti-block:nth-child(2n) .activiti-block-img {
        margin: 0 0 20px 0; } }

.activiti-items {
  margin-top: 150px; }

.activiti-items-container {
  background: #f6f6f6;
  padding: 20px;
  margin-bottom: 50px; }
  @media (max-width: 990px) {
    .activiti-items-container {
      margin-bottom: 30px; } }

.text-activiti {
  font: 300 1.125rem 'Muli', sans-serif; }
  @media (max-width: 990px) {
    .text-activiti {
      font-size: 1rem; } }

.news-container {
  padding: 90px 0;
  margin-top: 40px; }
  @media (max-width: 990px) {
    .news-container {
      padding: 50px 0; } }

.contact {
  background: #fbfbfb; }
  .contact .container {
    padding: 100px 0; }
    @media (max-width: 990px) {
      .contact .container {
        padding: 60px 0; } }

.contact-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 25px; }
  @media (max-width: 768px) {
    .contact-container {
      grid-template-columns: 1fr; } }

.map {
  margin-top: 78px; }
  .map iframe {
    height: 600px;
    width: 100%; }
    @media (max-width: 990px) {
      .map iframe {
        height: 400px; } }

.feedback-container {
  padding: 60px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 990px) {
    .feedback-container {
      padding: 50px 0;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 40px; } }
  @media (max-width: 768px) {
    .feedback-container {
      grid-template-columns: 1fr; } }
  .feedback-container .feedback-img-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 20px;
    border-radius: 50%;
    width: 40px;
    border: 1px solid #64b0ff;
    margin: 0 auto;
    margin-bottom: 15px; }
    .feedback-container .feedback-img-box img {
      height: 40px; }
  .feedback-container .feedback-text {
    color: #000;
    opacity: .8;
    font: 700 .8rem 'Muli', sans-serif;
    text-align: center;
    display: block; }

footer {
  background: #171f35; }
  footer .container {
    padding-bottom: 25px; }

.footer-container {
  padding: 60px 0 25px 0;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 3fr;
  grid-gap: 30px; }
  @media (max-width: 768px) {
    .footer-container {
      padding: 40px 0;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px; } }
  @media (max-width: 320px) {
    .footer-container {
      grid-gap: 10px;
      padding: 30px 0; } }
  .footer-container .footer-logo-box img {
    margin-bottom: 10px; }
  .footer-container .footer-text {
    color: #fff;
    opacity: .6;
    margin-bottom: 10px;
    display: block;
    font: 500 1rem 'Muli', sans-serif; }
    @media (max-width: 768px) {
      .footer-container .footer-text {
        font-size: 1rem; } }
  .footer-container .footer-title {
    margin-bottom: 25px;
    font: 500 1.5rem 'Muli', sans-serif;
    color: #fff; }
    @media (max-width: 768px) {
      .footer-container .footer-title {
        margin-bottom: 15px;
        font-size: 1.25rem; } }
  .footer-container .footer-link {
    opacity: .6;
    color: #fff;
    margin-bottom: 15px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    font: 500 1.125rem 'Muli', sans-serif; }
    @media (max-width: 768px) {
      .footer-container .footer-link {
        font-size: 1.1rem; } }
    .footer-container .footer-link:hover {
      opacity: 1; }
  .footer-container .footer-box-link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  @media (max-width: 768px) {
    .footer-container .footer-box-link:nth-child(2) {
      -webkit-box-align: end;
      -webkit-align-items: flex-end;
          -ms-flex-align: end;
              align-items: flex-end; } }
  @media (max-width: 768px) {
    .footer-container .footer-box-link:nth-child(4) {
      -webkit-box-align: end;
      -webkit-align-items: flex-end;
          -ms-flex-align: end;
              align-items: flex-end; } }

.footer-privat {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .footer-privat p {
    color: #fff;
    opacity: .6;
    display: block;
    font: 500 1rem 'Muli', sans-serif; }
    @media (max-width: 768px) {
      .footer-privat p {
        font-size: .87rem; } }

.btn-blue {
  color: #fff;
  background: #3399ff;
  font: bold .95rem 'Muli', sans-serif;
  outline: none;
  border: none;
  text-transform: uppercase;
  padding: 15px 50px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer; }
  @media (max-width: 576px) {
    .btn-blue {
      width: 100%;
      display: block;
      text-align: center;
      padding: 15px 30px;
      margin-top: 25px; } }
  .btn-blue:hover {
    background: #2d7dce; }

.title-xl {
  font: 500 2rem 'Muli', sans-serif;
  margin-bottom: 15px; }
  @media (max-width: 990px) {
    .title-xl {
      font-size: 1.75rem; } }
  @media (max-width: 576px) {
    .title-xl {
      font-size: 1.5rem; } }

.text-simple {
  font: 700 1.125rem 'Muli', sans-serif;
  margin-bottom: 45px;
  color: rgba(44, 46, 55, 0.5); }
  @media (max-width: 576px) {
    .text-simple {
      font-size: 1rem;
      margin-bottom: 35px; } }

.contact-form label {
  margin-bottom: 10px;
  font: normal .9rem 'Muli', sans-serif; }

.contact-form .input-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.contact-form input {
  padding: 10px; }

.contact-form textarea {
  height: 100px;
  margin-bottom: 20px; }

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Muli', sans-serif; }

.container {
  max-width: 1280px;
  margin: 0 auto; }

ul {
  padding: 0;
  margin: 0;
  list-style-type: none; }

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0; }

.padding {
  padding: 0 40px; }
  @media (max-width: 990px) {
    .padding {
      padding: 0 20px; } }
  @media (max-width: 576px) {
    .padding {
      padding: 0 20px; } }

.margin {
  margin-bottom: 80px; }
  @media (max-width: 990px) {
    .margin {
      margin-bottom: 60px; } }

button,
input,
textarea,
a {
  outline: none; }

textarea {
  resize: none; }

main {
  min-height: -webkit-calc(100vh - 80px);
  min-height: calc(100vh - 80px); }

a {
  text-decoration: none;
  cursor: pointer; }

.slick-slide {
  outline: none; }
