.title-xl {
    font: 500 2rem 'Muli', sans-serif; 
    margin-bottom: 15px;
    @media (max-width: 990px) {
        font-size: 1.75rem;
    }
    @media (max-width: 576px) {
        font-size: 1.5rem;
    }
}

.text-simple {
    font: 700 1.125rem 'Muli', sans-serif; 
    margin-bottom: 45px;
    color: rgba(44,46,55,.5);
    @media (max-width: 576px) {
        font-size: 1rem;
        margin-bottom: 35px;
    }
}